<?xml version="1.0" encoding="UTF-8"?>
<config>
    <preference for="App\Lib\Request\ActionFactoryInterface" type="\App\Lib\Request\ActionFactory" />
    <preference for="App\Config\ReaderInterface" type="\App\Config\XmlReader" />
    <virtualType for="routeConfig" type="\App\Config\Config">
            <argument>\App\Config\XmlReader</argument>
            <argument>\App\Config\RouteConverter</argument>
    </virtualType>
    <preference for="App\Db\QueryBuilderInterface" type="\App\DB\QueryBuilder" />
    <preference for="App\Lib\Request\RequestInterface" type="\App\Lib\Request\Request" />
</config>